# Trabajo N°1, Grupo 1: Análisis Bases de Datos 

### Integrantes: Oscar Alcaíno, Sebastían Cabello, Valentina Gomez, Ignacio Subiabre.
##### (XXI y IX Región) o (Región de Aysen y Araucania)

## Fase 1: 
###  a) Importamos las librerias y bases de datos

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
base_2021 = pd.read_csv("df_2021_new.csv")
base_2021

/var/folders/xx/8ljg54gs66gdzlm3grgkg2vr0000gn/T/ipykernel_1378/3344664742.py:1: DtypeWarning: Columns (25,27) have mixed types. Specify dtype option on import or set low_memory=False.
  base_2021 = pd.read_csv("df_2021_new.csv")

,AGNO,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,COD_DEPROV_RBD,...,EDAD_ALU,COD_REG_ALU,COD_COM_ALU,NOM_COM_ALU,COD_SEC,COD_ESPE,COD_RAMA,COD_MEN,ENS,DVR
0,2021,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,54,15,15101,ARICA,410,41001,400,0,13,8
1,2021,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,24,15,15101,ARICA,410,41001,400,0,13,1
2,2021,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,51,15,15101,ARICA,410,41001,400,0,13,6
3,2021,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,43,1,1101,IQUIQUE,410,41001,400,0,13,8
4,2021,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,25,15,15101,ARICA,410,41001,400,0,13,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3626451,2021,41899,4,COLEGIO SAN JORGE,8,BBIO,83,8304,LAJA,82,...,17,8,8304,LAJA,0,0,0,0,7,9
3626452,2021,41899,4,COLEGIO SAN JORGE,8,BBIO,83,8304,LAJA,82,...,17,8,8304,LAJA,0,0,0,0,7,6
3626453,2021,41899,4,COLEGIO SAN JORGE,8,BBIO,83,8304,LAJA,82,...,17,8,8304,LAJA,0,0,0,0,7,8
3626454,2021,41899,4,COLEGIO SAN JORGE,8,BBIO,83,8304,LAJA,82,...,17,8,8304,LAJA,0,0,0,0,7,1
3626455,2021,41899,4,COLEGIO SAN JORGE,8,BBIO,83,8304,LAJA,82,...,17,13,13119,MAIPÚ,0,0,0,0,7,k

In [4]:
base_2022 = pd.read_csv("df_2022_new.csv")
base_2022

/var/folders/xx/8ljg54gs66gdzlm3grgkg2vr0000gn/T/ipykernel_1378/4087446609.py:1: DtypeWarning: Columns (25,27) have mixed types. Specify dtype option on import or set low_memory=False.
  base_2022 = pd.read_csv("df_2022_new.csv")

,AGNO,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,COD_DEPROV_RBD,...,EDAD_ALU,COD_REG_ALU,COD_COM_ALU,NOM_COM_ALU,COD_SEC,COD_ESPE,COD_RAMA,COD_MEN,ENS,DVR
0,2022,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,40,15,15101,ARICA,410,41001,400,0,13,8
1,2022,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,45,15,15101,ARICA,410,41001,400,0,13,k
2,2022,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,18,15,15101,ARICA,410,41001,400,0,13,6
3,2022,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,49,15,15101,ARICA,410,41001,400,0,13,5
4,2022,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,43,15,15101,ARICA,410,41001,400,0,13,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3644543,2022,42071,9,INSTITUTO DE EDUCACIÓN DE ADULTOS MONTAÑA NEVADA,10,LAGOS,103,10301,OSORNO,103,...,77,10,10302,PUERTO OCTAY,0,0,0,0,9,8
3644544,2022,42071,9,INSTITUTO DE EDUCACIÓN DE ADULTOS MONTAÑA NEVADA,10,LAGOS,103,10301,OSORNO,103,...,57,10,10301,OSORNO,0,0,0,0,9,2
3644545,2022,42071,9,INSTITUTO DE EDUCACIÓN DE ADULTOS MONTAÑA NEVADA,10,LAGOS,103,10301,OSORNO,103,...,41,10,10301,OSORNO,0,0,0,0,9,6
3644546,2022,42081,6,ESCUELA HOSPITALARIA SANTA CRUZ,6,LGBO,63,6310,SANTA CRUZ,62,...,12,6,6201,PICHILEMU,0,0,0,0,3,7
3644547,2022,42081,6,ESCUELA HOSPITALARIA SANTA CRUZ,6,LGBO,63,6310,SANTA CRUZ,62,...,18,6,6310,SANTA CRUZ,0,0,0,0,7,8

### b) Filtramos las bases de datos por región

In [5]:
base_filtrada_21 = base_2021[base_2021["NOM_REG_RBD_A"].str.contains("ARAUC")|base_2021["NOM_REG_RBD_A"].str.contains("AYSEN")]
base_filtrada_21

,AGNO,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,COD_DEPROV_RBD,...,EDAD_ALU,COD_REG_ALU,COD_COM_ALU,NOM_COM_ALU,COD_SEC,COD_ESPE,COD_RAMA,COD_MEN,ENS,DVR
995327,2021,5215,9,LICEO INDUSTRIAL B-5 ANGOL,9,ARAUC,92,9201,ANGOL,91,...,14,9,9201,ANGOL,0,0,0,0,5,4
995328,2021,5215,9,LICEO INDUSTRIAL B-5 ANGOL,9,ARAUC,92,9201,ANGOL,91,...,14,9,9201,ANGOL,0,0,0,0,5,2
995329,2021,5215,9,LICEO INDUSTRIAL B-5 ANGOL,9,ARAUC,92,9201,ANGOL,91,...,14,9,9201,ANGOL,0,0,0,0,5,5
995330,2021,5215,9,LICEO INDUSTRIAL B-5 ANGOL,9,ARAUC,92,9201,ANGOL,91,...,14,9,9201,ANGOL,0,0,0,0,5,1
995331,2021,5215,9,LICEO INDUSTRIAL B-5 ANGOL,9,ARAUC,92,9201,ANGOL,91,...,14,9,9201,ANGOL,0,0,0,0,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3623285,2021,41701,7,COLEGIO PATAGONIA,11,AYSEN,111,11101,COYHAIQUE,111,...,5,13,13101,SANTIAGO,0,0,0,0,1,5
3623286,2021,41701,7,COLEGIO PATAGONIA,11,AYSEN,111,11101,COYHAIQUE,111,...,5,5,5301,LOS ANDES,0,0,0,0,1,2
3623287,2021,41701,7,COLEGIO PATAGONIA,11,AYSEN,111,11101,COYHAIQUE,111,...,5,11,11101,COYHAIQUE,0,0,0,0,1,4
3623288,2021,41701,7,COLEGIO PATAGONIA,11,AYSEN,111,11101,COYHAIQUE,111,...,5,11,11101,COYHAIQUE,0,0,0,0,1,5
3623289,2021,41701,7,COLEGIO PATAGONIA,11,AYSEN,111,11101,COYHAIQUE,111,...,5,11,11101,COYHAIQUE,0,0,0,0,1,9

In [6]:
base_filtrada_22 = base_2022[base_2022["NOM_REG_RBD_A"].str.contains("AYSEN")|base_2022["NOM_REG_RBD_A"].str.contains("AYSEN")]
base_filtrada_22

,AGNO,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,COD_DEPROV_RBD,...,EDAD_ALU,COD_REG_ALU,COD_COM_ALU,NOM_COM_ALU,COD_SEC,COD_ESPE,COD_RAMA,COD_MEN,ENS,DVR
1305605,2022,8345,3,LICEO JOSEFINA AGUIRRE MONTENEGRO,11,AYSEN,111,11101,COYHAIQUE,111,...,14,11,11101,COYHAIQUE,0,0,0,0,3,5
1305606,2022,8345,3,LICEO JOSEFINA AGUIRRE MONTENEGRO,11,AYSEN,111,11101,COYHAIQUE,111,...,13,11,11101,COYHAIQUE,0,0,0,0,3,8
1305607,2022,8345,3,LICEO JOSEFINA AGUIRRE MONTENEGRO,11,AYSEN,111,11101,COYHAIQUE,111,...,12,11,11101,COYHAIQUE,0,0,0,0,3,6
1305608,2022,8345,3,LICEO JOSEFINA AGUIRRE MONTENEGRO,11,AYSEN,111,11101,COYHAIQUE,111,...,13,11,11101,COYHAIQUE,0,0,0,0,3,3
1305609,2022,8345,3,LICEO JOSEFINA AGUIRRE MONTENEGRO,11,AYSEN,111,11101,COYHAIQUE,111,...,14,11,11101,COYHAIQUE,0,0,0,0,3,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3639036,2022,41701,7,COLEGIO PATAGONIA,11,AYSEN,111,11101,COYHAIQUE,111,...,5,11,11101,COYHAIQUE,0,0,0,0,1,1
3639037,2022,41701,7,COLEGIO PATAGONIA,11,AYSEN,111,11101,COYHAIQUE,111,...,5,11,11101,COYHAIQUE,0,0,0,0,1,3
3639038,2022,41701,7,COLEGIO PATAGONIA,11,AYSEN,111,11101,COYHAIQUE,111,...,6,11,11101,COYHAIQUE,0,0,0,0,1,5
3639039,2022,41701,7,COLEGIO PATAGONIA,11,AYSEN,111,11101,COYHAIQUE,111,...,5,11,11101,COYHAIQUE,0,0,0,0,1,9
3639040,2022,41701,7,COLEGIO PATAGONIA,11,AYSEN,111,11101,COYHAIQUE,111,...,6,11,11101,COYHAIQUE,0,0,0,0,1,0

###  c) Unimos ambas bases de datos mediante la función merge

In [7]:
Union_bases = pd.merge(base_filtrada_21, base_filtrada_22, how="inner", on=["COD_REG_RBD"])
Union_bases
#Union_bases, es ahora nuestro unido dataframe con df_2021 y df_2022 sin limpiar.

:

:

In [ ]:
conectarbases= pd.concat()

## Fase 2)
### Realizaremos la limpieza de la base de datos

In [ ]:
conectarbases.isna().sum()

In [ ]:
Sin_NA = conectarbases.dropna(subset = ["NOM_COM_RBD"])

Sin_NA.isna().sum()

#### Sin_NA está libre de celdas vacias

## Fase 3)

### Pregunta 1
####  Presentar a traves de una tabla de doble entrada, la cantidad por sexo segun la dependencia del establecimiento. Indique la fecuencia absoluta y relativa (20 puntos).

### Pregunta 2
#### a) Identificar e indicar en caso de existir, estudiantes cuyo dıgito verificador sea incorrecto. (25 puntos)

In [ ]:
#comenzaremos buscando un posible rut
rut = 20163929
y = 0
num = 2
while rut>2:
    y+= rut%10*num
    rut = rut//10
    if num == 7:
        num = 2
    else : 
        num+=1
    facil= y//11 * 11
    dig_ver = 11-y+facil
    print(dig_ver)
#con la funcion podemos encontrar los posibles digitos verificador de los distintos rut.


#### b) Si, además, indica la comuna con mas errores de este tipo, suma (5 puntos).

### Pregunta 3

#### a) Resumir la variable edad de los alumnos, indicando: maximo, mınimo, y promedio. En caso de identificar valores erroneos o cuestionables, descartarlos y entregar el resumen sin estos alumnos. Describir y justificar esta decision junto a la respuesta. (20 puntos)

### Pregunta 4
#### a) Contar la cantidad de alumnos por comuna. (15 punto)

### Pregunta 5

#### a) En una comuna en particular (que deben decidir y declarar), indicar la cantidad de establecimientos ubicados en sectores rurales y urbanos. (15 puntos)

In [ ]:
se hace con Dummys

### Pregunta 6

#### a)  Indicar la cantidad, de establecimientos que NO son municipales. (10 punto)

### Pregunta 7 

#### a) Indicar la cantidad de estudiantes que nacieron en cada trimestre del año. (30 puntos)

### Pregunta 8 

#### a) Indicar la cantidad de estudiantes que nacieron en cada trimestre del año. (30 puntos)

### Pregunta 9

#### a)  Indicar la distribucion segun porcentaje del tipo de jornada impartida. (15 puntos)